@import './typography';
@import './post';
@import './forms';
@import './button';
@import './comments';
@import './header';

#app {
    margin: 0 auto;
    padding: 0 40px;
    font-family: sans-serif;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
  