article {
    border: orangered solid 2px;
    border-radius: 20px;
    margin-bottom: 35px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    header p {
        font-weight: bold;
        margin: 0;

    .post-image-container {
        max-height: 350px;
        border-radius: 10px;
        overflow: hidden;
        object-fit: fill;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-image {
        width: 100%;
    }
    }

    button {
      margin-left: 0;
    }
}

.show-more-content {
    background: none;
    border: none;
    color: black;
    box-shadow: none;
    padding: 0;
    margin: 0 0 20px 0;
}